@import '../../styles/_particles/vars';
@import '../../styles/_particles/mixins';

.browse-page {
	display: flex;
	height: calc(100% - 15px);

	@include media-breakpoint-down($md) {
		height: calc(100% - 65px);
	}

	@include media-breakpoint-down($sm) {
		flex-direction: column;
		overflow: auto;
	}

	.tracks {
		margin-bottom: 50px;
		@include media-breakpoint-down($sm) {
			order: 1;
		}
	}

	.tracks,
	.person {
		@include media-breakpoint-up($sm) {
			flex-basis: 50%;
		}
	}

	.track {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	.duration-wrapper {
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 100%;
		max-width: 110px;
		margin-right: 80px;
	}

	.person {
		overflow: auto;
		&-menu-btn{
			margin-right: 30px;
			background-color: transparent;
		}
		@include media-breakpoint-down($sm) {
			order: 0;
			overflow: unset;
		}
	}

	.image-wrapper {
		margin-right: 30px;

		@include media-breakpoint-down($sm) {
			margin: 0;
		}
		img {
			width: 100%;
			max-width: 500px;
			max-height: 390px;
			border-radius: 16px;
			object-fit: cover;

			@include media-breakpoint-down($xs) {
				max-height: 160px;
			}
		}
	}

	&-hide-on-mobile {
		@include media-breakpoint-down($xs) {
			display: none !important;
		}
	}

	.h2-wrapper{
		display: flex;
		justify-content: space-between;

		.btn{
			align-self: center;
			margin-right: 80px;
			color: $secondary2-color;
		}
	}

	.h3-wrapper{
		display: flex;
		justify-content: space-between;
		align-items: center;

		.wrapper{
			display: flex;
			align-items: center;
		}

		.btn{
			color: $secondary2-color;
		}
	}
}
