@import '../../styles/_particles/vars';

.btn-base {
	font-weight: 400;
	border-radius: $border-radius;
	padding: 10px;
	color: $brand-color1;
	background-color: transparent;
	line-height: 1.1;
}

.btn {
	position: relative;
	border: transparent;
	display: inline-block;
	cursor: pointer;
	&:hover {
		opacity: $hover-opacity;
	}
	& > * {
		text-align: center;
		vertical-align: middle;
	}

	&.invert {
		transform: scaleX(-1);
		@extend .btn-base;
	}

	&.has-border {
		border: 2px solid $brand-color1;
		.base-icon {
			margin-right: 10px;
		}
		@extend .btn-base;
	}
}
