//font vars
$base-font: Arial, sans-serif;
$font-size: 14px;
$font-size1: 10px;
$font-size2: 12px;
$font-size3: 16px;
$font-size4: 18px;

//colors
$bg-color: #181E30;
$sidebar-color: #0F152B;

$brand-color1: #5ABC61;
$brand-color2: #E3556D;
$secondary1-color: #8B8E97;
$secondary2-color: #FFFFFF;

//opacity
$hover-opacity: .7;

//vars
$footer-height: 95px;
$border-radius: 6px;
$border-radius-circle: 50%;
