@import './_particles/vars';

* {
	&::-webkit-scrollbar {
		width: 4px;
		height: 4px;
		background-color: transparent;
	}
	&::-webkit-scrollbar-track {
		border-radius: $border-radius;
		background-color: transparent;
	}
	&::-webkit-scrollbar-thumb {
		border-radius: $border-radius;
		background-color: #8b8e9731;
	}
}

body {
	font-family: $base-font;
	color: $secondary2-color;
	overflow: hidden;
	box-sizing: border-box;
}

ul {
	padding: 0;
	list-style: none;
}

p {
	margin: 0;
}

.error {
	color: $brand-color2 !important;
}

.disabled {
	pointer-events: none;
}
