@import './_particles/vars';

body {
	font-family: $base-font;
	color: $secondary2-color;
	overflow: hidden;
	box-sizing: border-box;
}

ul {
	padding: 0;
	list-style: none;
}

p {
	margin: 0;
}

.error {
	color: $brand-color2;
}

.disabled {
	pointer-events: none;
}
