@import '../../styles/_particles/vars';

.side-bur{
	background-color: $sidebar-color;
	min-width: 320px;
	width: 350px;
	padding-top: 50px;
	overflow: hidden;

	.logo{
		margin-left: 55px;
	}

	.wrapper{
		height: calc(100% - 115px);
		padding-left: 55px;
		overflow-y: auto;
	}
}
