@import '../../styles/_particles/vars';
@import '../../styles/_particles/mixins';

.side-bur{
	background-color: $sidebar-color;
	min-width: 320px;
	width: 350px;
	padding-top: 50px;
	overflow: hidden;

	.logo{
		margin-left: 55px;
		margin-bottom: 90px;
	}

	.wrapper{
		height: calc(100% - 115px);
		padding-left: 55px;
		overflow-y: auto;
	}

	.has-border{
		margin-bottom: 50px;
	}

	@include media-breakpoint-down($md){
		display: none;
	}
}
