@import '../../styles/_particles/vars';
@import '../../styles/_particles/mixins';

.header {
	display: flex;
	margin: 0 60px 20px 0;

	@include media-breakpoint-down($xs) {
		margin-right: 0;
	}

	.header-form {
		flex-basis: 50%;
	}

	.base-icon {
		margin-right: 25px;
	}

	&-avatar-wrapper {
		display: flex;
		justify-content: flex-end;
		align-items: center;
		flex-basis: 50%;

		@include media-breakpoint-down($md) {
			justify-content: space-between;
			margin-bottom: 15px;
		}
	}

	&-avatar {
		border-radius: $border-radius-circle;
	}

	&-notify {
		position: absolute;
		top: 7px;
		left: 28px;
		width: 8px;
		height: 8px;
		background-color: $brand-color2;
		border-radius: $border-radius-circle;
	}

	&-for-mobile {
		display: flex;
		width: calc(50% + 73px);
		justify-content: space-between;
		@include media-breakpoint-up($md) {
			display: none;
		}
	}

	&-for-desktop {
		@include media-breakpoint-down($md) {
			display: none;
		}
	}

	@include media-breakpoint-down($md) {
		flex-direction: column-reverse;
	}
}
