@import '../../styles/_particles/vars';

.header{
	display: flex;
	margin: 0 60px 20px 0;

	.header-form{
		flex-basis: 50%;
	}

	.base-icon{
		margin-right: 25px;
	}

	&-avatar-wrapper{
		display: flex;
		justify-content: flex-end;
		flex-basis: 50%;
	}

	&-avatar{
		border-radius: $border-radius-circle;
	}

	&-notify{
		position: absolute;
		top: 7px;
		left: 28px;
		width: 8px;
		height: 8px;
		background-color: $brand-color2;
		border-radius: $border-radius-circle;
	}
}
