@import '../../styles/_particles/vars';

.header-form{
	position: relative;
	display: flex;
	align-items: center;
	color: $secondary1-color;
	font-size: $font-size;
	font-weight: bold;

	.base-icon{
		position: absolute;
		top: 50%;
		left: 10px;
		transform: translateY(-50%);
	}

	input{
		width: 100%;
		color: inherit;
		background-color: transparent;
		border: 1px solid $secondary1-color;
		border-radius: $border-radius;
		padding: 8px 40px;
	}
}
